/* Telas 2K (2560x1440) */
@media screen and (min-width: 2560px) {
  body {
    font-size: 1.4rem;
  }

  section {
    margin: 0 auto;
    max-width: 1300px;
  }

  .nav-links {
    font-size: 2rem;
    gap: 3rem;
  }

  .logo {
    font-size: 3rem;
  }

  .section__text__p2 {
    font-size: 2.25rem;
  }

  .title {
    font-size: 4rem;
  }

  .section__pic-container, 
  .section__pic-container1 {
    width: 60%; 
    height: 50vh;
  }

  .details-container article {
    margin: 50px;
  }

  #contact {
    font-size: 2rem;
  }

  #about {
    font-size: 1.7rem;
  }

  .experience-details-container .btn {
    height: 100px;
    width: auto;
  }

  .btn-color-2 {
    font-size: 1.5rem;
    width: auto;
  }

  .btn-color-1{
    font-size: 1.5rem;
    width: auto;
  }
}


/* Telas Full HD (1920x1080) */
@media screen and (min-width: 1920px) and (max-width: 2559px) {
  body {
    font-size: 1.3rem;
  }

  section {
    margin: 0 auto;
    max-width: 1200px;
  }

  .nav-links {
    font-size: 1.9rem;
    gap: 2.5rem;
  }

  .logo {
    font-size: 2.5rem;
  }

  .section__text__p2 {
    font-size: 2rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .section__pic-container, 
  .section__pic-container1 {
    height: 50vh;
    width: 450px;
  }

  .details-container article {
    margin: 2%;
  }

  #contact {
    font-size: 2rem;
  }

  #about {
    font-size: 1.3rem;
  }

  .experience-details-container .btn {
    height: 100px;
    width: auto;
  }

  .btn-color-2 {
    font-size: 1.3rem;
    width: auto;
  }

  .btn-color-1{
    font-size: 1.3rem;
    width: auto;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  .text-container {
    font-size: 0.8rem;
  }

  .details-container {
    font-size: 0.8rem;
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburguer-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 50vh;
      margin: 0 auto 2rem;
      justify-content: center;
    }

    .section__pic-container1 {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
      justify-content: center;
    }

    .about-containers {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
    }

    .about-containers .details-container {
      width: 100%;
      max-width: 520px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    #hamburguer-nav {
      position: absolute; /* Posiciona o menu sobre o conteúdo */
      top: 0;
      left: 0;
      width: 90%;
      z-index: 10; /* Eleva o menu acima de outros elementos */
      background-color: rgba(255, 255, 255, 0.9); /* Fundo semitransparente para destaque */
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
    .section__pic-container1 {
    position: relative;
    margin-top: 12rem; /* Cria espaço para o menu */
    }
    .section__pic-container1 img {
    width: 100%;
    height: auto;
    max-height: 45vh; /* Ajusta a altura da foto para caber no layout */
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 1.5rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.8rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 45vh;
      justify-content: center;
    }
    .section__pic-container1 {
      position: relative;
      margin-top: 10rem; /* Cria espaço para o menu */
    }
    .section__pic-container1 img {
      width: 100%;
      height: auto;
      max-height: 45vh; /* Ajusta a altura da foto para caber no layout */
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
    #hamburguer-nav {
      position: absolute; /* Posiciona o menu sobre o conteúdo */
      top: 0;
      left: 0;
      width: 90%;
      z-index: 10; /* Eleva o menu acima de outros elementos */
      background-color: rgba(255, 255, 255, 0.9); /* Fundo semitransparente para destaque */
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
  }
  }